<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class='root' id="root">
        <h1>Jokes API</h1>
        <p class="para" id="id">Id : <%=id%></p>
        <p class="para" id="category">Category : <%=category%></p>
        
            <% if (type==='single') {%>
                <p class="para" id="joke">Joke :<b><%=joke%></b></p>
            <%}else{%>
                <p  class="para" id="setup">Setup : <i><%=setup%></i></p>
                <p  class="para" id="delivery">Delivery : <b><%=delivery%></b></p>
            <%}%>
       
        <button class="btn" ><a href="<%=type==='single'? '/single':'twopart'%>">Another 
            <%if (type==='twopart') {%>
                two part 
           <% }else {%>
            <%=type%>
            <%}%>
            joke!</a></button>
        <button class="btn"> <a href="<%=type==='twopart'? '/single':'twopart'%>">Now a 
            <%if (type==='single'){%>
            two part joke!
            <%}else{%>
                single joke!
            <%}%>
        </a>
        </button>
    </div>

</body>
</html>